<div class="container">
<h1>Productos</h1>
<div class="custom-form" style="color: #fff;">
<p>Bienvenido: {{user.first_name}}  {{user.last_name}} !!</p>
<p>Email: {{user.email}}</p>
{{!-- <p>Edad: {{user.age}}</p> --}}
<p>Rol: {{user.rol}}</p>
<button id="end-session-btn-products"  class="form-input input-submit">Cerrar Sesion</button>
</div>
  <div class="forms">
    <div>
      <h2>Lista de productos disponibles</h2>
      {{#if hayProductos}}
        <ul id="view-product-list" class="product-list">
          {{#each response.payload}}
            <li id={{this._id}}>
              <div>
                <strong class="prod-title">{{this.title}}</strong>
                <br />
                <strong>Price:</strong>
                ${{this.price}}
                <br />
                <strong>Description:</strong>
                {{this.description}}
                <br />
                <strong>Category:</strong>
                {{this.category}}
                <br />
                <strong>Id:</strong>
                {{this._id}}</div>
              <div class="add-to-cart-btn-container">
                <button id={{this._id}} class="add-to-cart-btn">Agregar al
                  carrito</button>
              </div>
            </li>
            <br />
          {{/each}}
        </ul>
      {{/if}}
      <div class="pagination">
        {{#if response.hasPrevPage}}
          <button class="next-prev-pagination-btn"><a
              href={{response.prevLink}}
            >Anterior</a></button>
        {{/if}}
        {{#if response.hasNextPage}}
          <button class="next-prev-pagination-btn"><a
              href={{response.nextLink}}
            >Siguiente</a></button>
        {{/if}}
      </div>
      <h2>Pagina: {{response.page}}</h2>
    </div>
  </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
{{!-- En "profile.js" esta la funcionalidad del boton de cerrar sesión --}}
<script src="/js/profile.js"></script>
